@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.border-moving-input {
  border: 1px solid;
  animation: moveBorder 1.5s linear infinite;
}

@keyframes moveBorder {
  0% {
    border-top: 2px solid #b80e66; 
    border-right: 2px solid transparent; 
    border-bottom: 2px solid transparent; 
    border-left: 2px solid transparent;
  }
  25% {
    border-top: 2px solid transparent;
    border-right: 2px solid #B80E65;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
  50% {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #B80E65;
    border-left: 2px solid transparent;
  }
  75% {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid #B80E65;
  }
  100% {
    border-top: 2px solid #B80E65;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }
}

.board-row:after {
  content: "";
}

.square:focus {
  outline: none;
}


section {
  position: fixed;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
}


section span {
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: hsl(0, 0%, 9%);
  transition: 1.5s;
}

section span:hover {
  background: linear-gradient(#e66465, #9198e5);
  transition: 0s;
}

@media (max-width: 900px) {
  section span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}

@media (max-width: 600px) {
  section span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
